<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="./to-do-list.png" type="image/x-icon">
    <title>Todo list</title>
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.2/css/bootstrap.min.css' integrity='sha512-b2QcS5SsA8tZodcDtGRELiGv5SaKSk1vDHDaQRda0htPYWZ6046lr3kJ5bAAQdpV2mmA/4v0wQF9MyU6/pDIAg==' crossorigin='anonymous'/>
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.css' integrity='sha512-tx5+1LWHez1QiaXlAyDwzdBTfDjX07GMapQoFTS74wkcPMsI3So0KYmFe6EHZjI8+eSG0ljBlAQc3PQ5BTaZtQ==' crossorigin='anonymous'/>
    <link rel="stylesheet" href="./assets/css/style.css">
</head>
<body>
    

    <div id="app">
        <header class="position-relative ">
            <h1 class="text-center py-3 mb-5">To do List</h1>
            <i @click="darkMode" :class="(darkModeBtn) ? 'fas fa-moon' : 'fas fa-sun' " class=" position-absolute" id="darkModeBtn"></i>

        </header>

        <main>
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-6">
                        <div class="mb-5">
                            <div id="input-field" class="d-flex align-items-center column-gap-4 ">
                                <input
                                    type="text"
                                    class="form-control p-3 shadow-none"
                                    placeholder="Insert a task here..."
                                    v-model="taskToAdd"
                                    @keyUp.enter="addTask">
                                <button
                                    type="button"
                                    class="btn btn-primary p-2 px-4 fw-bold"
                                    @click="addTask">
                                    Add
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-8 border rounded-2 mb-5 ">
                        <!-- elementi todo list -->
                        <div v-if="(tasks.length !== 0)">
                            <ul class="list-unstyled m-0 p-0 ">
                                <li v-for="(task, index) in tasks" :key="index"
                                    class="py-3 px-2  d-flex align-items-center justify-content-between">

                                        <p  @click="taskDone(index)"
                                            :class="(task.done == true) ? 'taskDoneStyle' : ''"
                                            class="m-0 p-0 todo-element">
                                            {{ task.text }}
                                        </p>

                                        <i  @click="deleteTask(index)"
                                            class="fas fa-xmark p-1" id="deleteBtn">
                                        </i>

                                </li>
                            </ul>
                        </div>
                        <!-- elementi visibili quando la lista è vuota -->
                        <div v-else>
                            <p class="p-2 m-0 text-center fw-bol fs-2 text-secondary empty-list-element">Empty list</p>
                        </div>

                    </div>
                </div>
            </div>
        </main>

    </div>

    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.2/js/bootstrap.min.js' integrity='sha512-WW8/jxkELe2CAiE4LvQfwm1rajOS8PHasCCx+knHG0gBHt8EXxS6T6tJRTGuDQVnluuAvMxWF4j8SNFDKceLFg==' crossorigin='anonymous'></script>
    <script src="./assets/js/main.js"></script>
</body>
</html>